/* 모든 요소에 폰트와 박스 사이즈 적용 */
* {
  box-sizing: border-box;
  /* !important를 붙여서 다른 라이브러리 스타일보다 우선순위를 높임 */
  font-family: 'Spoqa Han Sans Neo', 'Spoqa Han Sans JP', sans-serif !important;
}

body {
  margin: 0;
  color: #222;
  background: #fff;
  /* 폰트가 더 부드럽게 보이도록 하는 설정 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}