.common-write-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.common-write-btn {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  font-size: 0.82rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
}

.common-write-btn:hover {
  background-color: #555;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .common-write-btn {
    padding: 10px 18px;
    font-size: 15px;
  }
}
